			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle js-sidebar-toggle">
         			 <i class="hamburger align-self-center"></i>
       			 </a>

				<div class="navbar-collapse collapse" id="fetchAll">
					<ul class="navbar-nav navbar-align">
						<li class="nav-item">
							<a class="nav-icon" href="javascript:void(0)" >
								<div class="position-relative">
									<i class="align-middle" data-feather="message-square"></i>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</nav>